
$baseFontFamily:                    Georgia, "Times New Roman", Times, serif;
$base-font-color:                   #463829;
$linkColor:                         #6A6A32;
$linkColorHover:                    darken($linkColor, 15%);
$btnBackground:                     #828241 !default;
$btnBackgroundHighlight:            lighten($btnBackground, 10%); //#95954A !default;