@import "bootstrap/_mixins.scss";
@import "_variables.scss";

html, body { height: 100%; }

body {
  background: url("/assets/bg.jpg") repeat-y top center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

header {

  .logo {
    width: 978px;
    height: 138px;
    position: relative;
    background: url(/assets/top_bg.jpg) no-repeat;
    text-align: center;

    img {
      margin-top: 20px;
    }
  }

  .menu.nav {
    margin-top: 18px;
    &> li > a {
      font-size: 21px;
      line-height: 35px;;
    }
  }
}

// Main menu
.menu.nav {
  & > li {
    padding-right: 12px;
    &> a {
      padding: 0 7px;
      &:hover {
        //text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
    &.active a {
      color: $linkColor;
      background-color: rgba(255, 255, 255, 0.7); }
    &.active a:hover { color: $linkColorHover; }
  }
}

// Sidebar
.sidebar .block {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  @include border-radius(5px);

  .title {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #463829;
    padding-bottom: 5px;
    margin: 10px 0;
  }

  ul {
    margin-top: 15px;
    padding-left: 10px;

    li {
      padding: 3px;
      &.active a { text-decoration: underline; }
    }
  }
}

// Breadcrumbs
.content .breadcrumb {
  padding: 0;
  margin-bottom: 10px;
  background: none;
  border: none;
  @include border-radius(none);
  @include box-shadow(none);
  li { text-shadow: none; }
  .divider { padding: 0 2px; }
}

// ---------------------------------------------
// Items
.thumb {
  margin-top: 20px;
  margin-right: 20px;
  img { border: 1px #000 solid; }
  .title, .price { text-align: center; }
  &:nth-child(4n+2) { margin-right: 0; }
}

#large-image.thumb {
  margin: 0;
}

#thumbs {
  .thumb { margin: 0 0 10px; }
;
}

.item-details {
  margin-top: 10px;
  .title,
  .price {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }
  .description { margin-top: 20px; }
}

.push { height: 80px; }

footer {
  height: 60px;
  padding: 20px;
  margin: 0 -20px;
  background: #463829;
  color: #fff;

  .menu.nav {
    & > li {
      padding-right: 20px;
      &> a {
        color: #fff;
        padding: 0;
        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }
      &.active a {
        color: #fff;
        text-decoration: underline;
        background: none; }
      &.active a:hover { color: #fff; }
    }
  }
}