@import "bootstrap/_mixins.scss";
@import "_variables.scss";

html, body { height: 100%; }

body {
  //background: image-url("bg.jpg") repeat-y top center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

header {
  padding: 20px 0;

  .logo {
    font-family: 'PT Serif Caption', serif;;
  }

  .menu.nav {
    margin-top: 18px;
    &> li > a {
      font-size: 1.2em;
      line-height: 35px;;
    }
  }
}

// Main menu
.menu.nav {
  & > li {
    padding-right: 12px;
    &> a {
      padding: 0 7px;
      &:hover {
        background-color: lighten($base-font-color, 70%);
      }
    }
    &.active a {
      color: #ffffff;
      background-color: lighten($base-font-color, 50%);
    }
    &.active a:hover { color: $linkColorHover; }
  }
}

// Sidebar
.sidebar .block {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  @include border-radius(5px);

  .title {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #463829;
    padding-bottom: 5px;
    margin: 10px 0;
  }

  ul {
    margin-top: 15px;
    padding-left: 10px;

    li {
      padding: 3px;
      &.active a { text-decoration: underline; }
    }
  }
}

// Breadcrumbs
.content .breadcrumb {
  padding: 0;
  margin-bottom: 10px;
  background: none;
  border: none;
  @include border-radius(none);
  @include box-shadow(none);
  li { text-shadow: none; }
  .divider {
    padding: 0 2px;
    color: $base-font-color;
  }
  .active {
    color: $base-font-color;
  }
}

// ---------------------------------------------
// Items
.thumb {
  position: relative;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 10px;
  @include border-radius(4px);
  @include box-shadow(0 1px 3px rgba(0,0,0,.155));
  background-color: lighten($base-font-color, 80%);

  img { border: none; }
  .title { margin-top: 10px; }
  .price { color: #808080; font-size: 12px; }
  &:nth-child(3n+3) { margin-right: 0; }

  .promo-container {
    position: absolute;
    z-index: 2;
    top: 6px;
    left: 6px;
    @include square(110px);
    overflow: hidden;
  }
  .promo {
    position: absolute;
    z-index: 2;
    top: 19px;
    left: -28px;
    @include size(22px,125px);
    padding-top: 0;
    text-align: center;
    font-size: 11px;
    color: $base-font-color;
    background-color: lighten($btnBackground, 25%);
    overflow: hidden;
    @include rotate(-45deg);
  }
}

.large-image {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  @include border-radius(0);
}

#thumbs {
  .thumb {
    margin: 0 0 8px;
    padding: 0;
    background: none;
    border: 1px #808080 solid;
    @include border-radius(0);
  }
;
}

.item-details {
  margin-top: 10px;
  .title,
  .price {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }
  .price { color: $linkColor; clear: left; }
  .btn-buy { margin-top: 10px; }
  .description { margin-top: 30px; }
  .social-buttons {
    margin-right: 85px;
    margin-top: 5px;
  }
}

.push { height: 80px; }

footer {
  height: 60px;
  padding: 20px;
  margin: 0 -20px;
  background: #463829;
  color: #fff;

  .menu.nav {
    & > li {
      padding-right: 20px;
      &> a {
        color: #fff;
        padding: 0;
        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }
      &.active a {
        color: #fff;
        text-decoration: underline;
        background: none; }
      &.active a:hover { color: #fff; }
    }
  }
}

.center {
  margin-left:auto;
  margin-right:auto;
}