<div class="thumb pull-left">
  <%= link_to image_tag(product.assets.first.asset.url(:medium)), product %>
  <div class="title"><%= link_to product.name_shorten, product %></div>
  <div class="price"><%= number_to_currency(product.price) %></div>
  <% if false %>
    <strong class="promo-container hide">
      <strong class="promo"></strong>
    </strong>
  <% end %>
</div>