<div class="thumb pull-left">
  <%= link_to image_tag(product.cover_image_url(:medium)), product %>
  <div class="title"><%= link_to product.name, product %></div>
  <% if false %>
    <strong class="promo-container hide">
      <strong class="promo"></strong>
    </strong>
  <% end %>
</div>